html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.file_ico_class {
    width: 150px;
    height: 150px;
}
.dw_dl_file_ico_class {
    width:30px;
    height:30px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.files_div {
    height: auto;
    width: auto;
    background-color: red;
}

.bg_file_add {
    width: 200px;
    height: 200px;
    background-color: rgb(217,217,217);
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 35px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.bg_file {
    width: 200px;
    height: 200px;
    background-color: rgb(217,217,217);
    margin-right: 10px;
    border-radius: 35px;
    color: black;
}
.bg_file:hover {
    color: black;
}

.el_line {
    display: flex;
    height: auto;
    width: auto;
    margin-bottom: 100px;
}

.a_bt_add {
    color: black;
}

.a_bt_add:hover {
    color: black;
}

.file_actions {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.file_action {
    margin-bottom: 20px; 
}

@media (max-width: 1399px) {
    .bg_file_add {
        width: 170px;
        height: 170px;
        margin-right: 90px;
    }
    .bg_file {
        width: 170px;
        height: 170px;
        margin-bottom: 10px;
    }
    .file_ico_class {
        width: 100px;
        height: 100px;
    }

    .dw_dl_file_ico_class {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 1199px) {
    .bg_file_add {
        width: 135px;
        height: 135px;
        margin-right: 90px;
    }

    .bg_file {
        width: 135px;
        height: 135px;
        margin-bottom: 10px;
    }

    .file_ico_class {
        width: 100px;
        height: 100px;
    }

    .dw_dl_file_ico_class {
        width: 30px;
        height: 30px;
    }
    .el_line {
        display: flex;
        height: auto;
        width: auto;
        margin-bottom: 110px;
    }
}

@media (max-width: 991px) {
    .bg_file_add {
        width: 90px;
        height: 90px;
        margin-right: 90px;
    }

    .bg_file {
        width: 90px;
        height: 90px;
        margin-bottom: 10px;
    }

    .file_ico_class {
        width: 50px;
        height: 50px;
    }

    .dw_dl_file_ico_class {
        width: 30px;
        height: 30px;
    }

    .el_line {
        display: flex;
        height: auto;
        width: auto;
        margin-bottom: 140px;
    }
}

@media (max-width: 767px) {
    .bg_file_add {
        width: 65px;
        height: 65px;
        margin-right: 90px;
    }

    .bg_file {
        width: 65px;
        height: 65px;
        margin-bottom: 10px;
    }

    .file_ico_class {
        width: 30px;
        height: 30px;
    }

    .dw_dl_file_ico_class {
        width: 18px;
        height: 18px;
    }
    .file_action {
        margin-bottom: 10px;
    }
    .el_line {
        display: flex;
        height: auto;
        width: auto;
        margin-bottom: 120px;
    }
}