@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Страница администратора";
}

<h1 class="text-center">Это страница администратора.</h1>
    <main class="my-4">
        <div class="row text-center mt-4">
            <div class="col-md-2 offset-md-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Управление проектами групп и пользователей</h5>
                        <a href="#" class="btn btn-outline-primary btn-lg">+</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Управление пользователями</h5>
                        <a href="#" class="btn btn-outline-primary btn-lg">+</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Управление группами</h5>
                        <a href="#" class="btn btn-outline-primary btn-lg">+</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Управление облачным хранилищем</h5>
                        <a href="#" class="btn btn-outline-primary btn-lg">+</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Управление конференциями</h5>
                        <a href="#" class="btn btn-outline-primary btn-lg">+</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="text-center mt-5">
        <p>&copy; 2024 - InstituteHub - <a href="/Privacy">Privacy</a></p>
    </footer>
</div>

<style>
    .card {
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .btn-lg {
        font-size: 1.5rem;
    }

    .container {
        max-width: 1200px;
        margin: auto;
    }
</style>