@using InstHub.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppIdentityUser> SignInManager
@inject UserManager<AppIdentityUser> UserManager
@{
    ViewData["Title"] = "Файлы";
}

<div class="">
    <h3>Файлы пользователя @User.Identity?.Name!</h3>

    <div class="">

    </div>
</div>